/* *** Custom CSS For Header *** */

.header {
  position: relative;
  background: var(--matte-black);
  height: calc(100vh - 9rem);
}

.hero-background {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

/* *** Design of Background *** */
.hero-background .circle {
  position: absolute;
  top: 5rem;
  right: -20rem;
  transform: rotate(-30deg);
}

.hero-background .circle3d {
  position: absolute;
  bottom: 6rem;
  left: 10rem;
  animation: jumpAndRotate 3s infinite ease-in-out;
  z-index: 9999;
}

.hero-background .digital-images {
  position: absolute;
  bottom: 10rem;
  left: 18rem;
}

/* ***Design of Header Content *** */

.header-content {
  position: relative;
  z-index: 10;
  font-family: var(--monda);
}
.elevate-text {
  padding-left: 3rem;
}

.elevate-text h2 {
  font-weight: 800;
  color: var(--white);
  font-size: 5.5rem;
  background: linear-gradient(to right, var(--white) 50%, #ff5858 50%, #cc2e5d);
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
}

.elevate-text h2:hover {
  background-position: -100%;
}

.generative-ai,
.elevate-description {
  padding-right: 3rem;
  display: flex;
  justify-content: end;
}

.elevate-description {
  width: 100%;
}
.elevate-description p {
  width: 50%;
  font-size: 1.3rem;
  color: var(--white);
}

.digital-images {
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.generative-ai p {
  font-family: var(--monda);
  color: var(--white);
  font-size: 4rem;
  display: flex;
  align-items: center;
  align-content: center;
}

.generative-ai .generative-arrow {
  font-size: 9rem;
  width: 8rem;
  color: var(--light-blue);
  margin-right: 20px;
}

@keyframes jumpAndRotate {
  0%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-30px);
  }
}
