.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the background behind the content */
  background-image: url("/images/background.png"); /* Path to your background image */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  background-color: rgba(0, 0, 0, 0.925);
}

.videoBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 40, 43, 0.733); /* Add your color overlay */
  z-index: 1; /* Put the filter above the image */
  pointer-events: none; /* Ensure it does not interfere with interactions */
}
