/* Video Background Container */
.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the video behind the content */
  overflow: hidden;
}

/* Make sure the video covers the full area */
.backgroundVideo {
  object-fit: cover; /* Ensures the video covers the container */
  width: 100%;
  height: 100%;
}

/* Add color filter with the pseudo-element */
.videoBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.664
  ); /* Dark overlay, you can change the color */
  z-index: 1; /* Put the filter above the video */
  pointer-events: none; /* Ensure it does not interfere with interactions */
}
